debug
codegen
*.local
*.class
javadoc
Thumbs.db
.project
dist/lib/z*.jar
dist/lib/z*.war
dist/lib/osgi
gmapsz/target/*
*.classpath
*/.settings
*/.settings/*.prefs
*/.settings/*.component
*/.settings/*.xml
*.bk
.gitignore
gmapsz/.gradle/*
gmapsz/build/*
target/
*.iml
.idea/
out/
/gmapszTest/src/main/webapp/WEB-INF/lang-addon.xml